.app {
    
    justify-items: center;
    margin-top: 15rem;
    margin-left: 30rem;

    background-color: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 500px;

}




